<script src="/games/keyboard_Fighter/scripts/keyboard_fighter_script.js"></script>




<center><h1 class="winner"></h1></center>

<div class="progress" style="background-color:red; height:30em;">
    <div class="progress-bar" role="progressbar" style="width:50%"></div>
    <h1 class="score"></h1>
</div>
