<script src="/games/keyboard_Fighter/scripts/keyboard_fighter_script.js"></script>



<div class="container">
  <div class="col-sm-6 center">
    <h1 class="player"></h1>
  </div>
  <div class="col-sm-6 center">
    <h1 class="player"></h1>
  </div>
</div>
