.home-box {
  background-color: grey;
  margin-top: 20vmin;
  width: 80%;
  height: 100%;
  padding: 2%
}

.profile-banner {
  height: 35vmin;
  background-color: blue;
}

.profile-pic-box {
  background-color: white;
  border-color: white;
  border-width: 4px;
  border-style: double;
}

.profile-pic {
  width: auto;
  height: auto;
}

.title {
  padding: 5%;
}

.sidebar-tag {
  position: absolute;
  top: 50vmin;
}

.signupform {
  margin: 2%;
  width: 90%;
}

.home-buttons {
  padding: 3%;
  width: 100%;
}

.home-button1 {
  padding: 1.5%;
}

.home-button2 {
  padding: 1.5%;
}
