.home-box {
  background-color: grey;
  margin-top: 30vmin;
  width: 100%;
  height: 100%;
}

.title {
  padding: 5%;
}

.sidebar-tag {
  position: absolute;
  top: 50vmin;
}

.home-buttons {
  padding: 3%;
  width: 100%;
}

.home-button1 {
  padding: 1.5%;
}

.home-button2 {
  padding: 1.5%;
}
