.home-box {
  background-color: grey;
  margin-top: 30vmin;
  width: 100%;
  height: 100%;
}

.title {
  padding: 5%;
}

.sidebar-tag {
  position: absolute;
  top: 50vmin;
}

<<<<<<< HEAD
.signupform {
  padding: 2%;
  
}

=======
>>>>>>> 218920c438413454421f5160c354e6c2589331ed
.home-buttons {
  padding: 3%;
  width: 100%;
}

.home-button1 {
  padding: 1.5%;
}

.home-button2 {
  padding: 1.5%;
}
