<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="home.css">
  <script src="/jquery-3.2.1.min.js"></script>
  <script src="homejquery.js"></script>
</head>
<body>
  <form action="/games/new" method="post">
    <input type="text" name="game_name">
    <input type="text" name="game_type">
    <input type="text" name="game_description">
    <input type="file" webkitdirectory mozdirectory name="game_folder">
    <input type="number" name="game_min_player_count">
    <input type="number" name="game_max_player_count">
    <input type="submit" value="Submit" name="submit">
  </form>

  <h2>RPS</h2>

</body>
</html>
